<div class="container">
  <c-accordion-group></c-accordion-group>
</div>

{% schema %}
{
  "name": "t:sections.accordion.name",
  "tag": "section",
  "class": "section counter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Accordion title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:sections.accordion.block.accordion.name",
      "settings": [
        {
          "type": "text",
          "default": "Accordion title",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "default": "<p>Accordion content</p>",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.accordion.presets.name",
      "blocks": [{ "type": "accordion" }, { "type": "accordion" }, { "type": "accordion" }]
    }
  ]
}
{% endschema %}
